<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>eShop</title>
</head>
<body>
<div id="app">
    <header class="header">
        <h1 class="header-title">eShop</h1>
        <div class="basket-wrp">

                <form action="#" class="search-form" @submit.prevent="filter">
                    <input type="text" class="search-field" v-model="userSearch">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>

                <button class="btn-cart" type="button" @click="showCart = !showCart">Корзина</button>

                <div class="basket-active" v-show="showCart">
                    <p v-if="!cartItems.length">Cart is empty</p>
                    <div class="basket-item" v-for="item of cartItems">
                        <p>{{ item.product_name }}</p>
                        <p>{{ item.quantity }} шт.</p>
                        <p>$ {{ item.price }} шт.</p>
                        <div class="bnt-wrp">
                            <div class="product-price">{{ item.quantity*item.price }}</div>
                            <button class="delete-btn btn" @click="remove(item)">x</button>
                        </div>
                    </div>
                </div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of filtered" :key="product.id_product">
                <img :src="imgProduct" alt="Some img">
                <h3>{{ product.product_name }}</h3>
                <p>{{ product.price }} $</p>
                <button class="buy-btn btn" @click="addProduct(product)">Купить</button>
            </div>
        </div>
    </main>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>