
button {
    padding: 10px 15px;
    margin: 20px;
    color: white;
    background-color: #0c63e4;
    border: none;
}

button:hover,
button:focus {
    color: #0c63e4;
    background-color: white;
    outline: 1px solid #0c63e4;
}

button:active {
    opacity: 0.8;
    outline: 3px solid #0c63e4;
}